<%- include('../partials/header', { title: 'Alunos e Cursos' }) %>
<%- include('../partials/navbar', { user }) %>
<div class="container">
  <h2>Alunos com Curso</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th><th>Email</th><th>Curso</th>
      </tr>
    </thead>
    <tbody>
      <% students.forEach(s => { %>
        <tr>
          <td><%= s.aluno %></td>
          <td><%= s.email %></td>
          <td><%= s.curso || 'Não matriculado' %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<%- include('../partials/footer') %>